<h3>Create an account</h3>

<form class="ui form" [formGroup]="authForm">
  <app-input
    label="Username"
    inputType="text"
    [control]="$any(authForm).get('username')"
  ></app-input>

  <app-input
    label="Password"
    inputType="password"
    [control]="$any(authForm).get('password')"
  ></app-input>

  <app-input
    label="PasswordConfirmation"
    inputType="password"
    [control]="$any(authForm).get('passwordConfirmation')"
  ></app-input>

  <div *ngIf="showOverallErrors()" class="ui red basic label">
    <p *ngIf="authForm.errors?.passwordsDontMatch">Password doesn't match</p>
  </div>

  <div><button class="ui submit button primary">Submit</button></div>
</form>
